<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Lock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>
    <nav>
        <ol>
            <li><a href="/"><i class="fa-solid fa-lock"></i></a></li>
            <li><a class="ülock" href="/">Smart Lock</a></li>
        </ol>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ol class="lockDiv">
            <li><a href="/">Home</a></li>
            <li><a href="/produkt">Produkt</a></li>
            {% if user.is_authenticated %}
            <li><a href="/account/{{user.account}}">Account</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/signup">Sign-Up</a></li>
            {% endif %}
        </ol>
    </nav>
</header>
<div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    <span class="flash">{{ message }}</span>
                    <button class="close-btn" onclick="this.parentElement.remove()">✖</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% block content %}{% endblock %}
<script>
const hamburger = document.querySelector('.hamburger');
const menu = document.querySelector('nav ol.lockDiv');
hamburger.addEventListener('click', () => { menu.classList.toggle('active'); });
setTimeout(() => {
    document.querySelectorAll('.flash-message').forEach(msg => {
        msg.style.animation = "fadeOut 0.5s ease-in-out";
        setTimeout(() => msg.remove(), 500);
    });
}, 5000);
</script>
</body>
</html>
