{% extends "base.html" %}

{% block title %}Produkt{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='produkt.css')}}">

<!-- OBEN-Bereich -->
<div class="oben slide-up">
    <h2>Sichere dein Zuhause intelligent und komfortabel</h2>
    <button onclick="alert('Glaubst du wirklich, du kannst das kaufen? 😄 Das ist eine Projektarbeit kein Online-Shop!')">Jetzt kaufen</button>


    <p>Kostenloser Versand | Paypal | Kreditkarte • Sicher und vertrauenswürdig</p>
</div>

<!-- WARUM-Bereich -->
<div class="unten">
    <div class="warum slide-up">
        <h3>Warum ein Smart Lock</h3>
        <p>Verlorene, unsichere Ersatzschlüssel unter der Fußmatte oder fehlende Kontrolle über Zugang gehören der Vergangenheit an. Mit unserem Smart Lock haben Sie volle Kontrolle über den Zugang zu Ihrem Zuhause jederzeit digital und von überall.</p>
    </div>

    <!-- BOXEN-Bereich -->
    <div class="boxen">
        <div class="slide-up" style="transition-delay:0.1s;">
            <i class="fa-solid fa-ankh"></i>
            <h4>Digitale Zugangscodes</h4>
            <p>Erstellen Sie individuelle Zugangscodes für Familienmitglieder, Freunde oder Dienstleister. Jeder Code kann zeitlich begrenzt oder dauerhaft gültig sein.</p>
        </div>
        <div class="slide-up" style="transition-delay:0.2s;">
            <i class="fa-solid fa-house-signal"></i>
            <h4>Web Steuerung</h4>
            <p>Öffnen und schließen Sie ihre Tür von überall aus.</p>
        </div>
        <div class="slide-up" style="transition-delay:0.3s;">
            <i class="fa-solid fa-chart-line"></i>
            <h4>Live-Aktivität</h4>
            <p>Behalte jederzeit im Blick, wer wann deine Tür benutzt</p>
        </div>
        <div class="slide-up" style="transition-delay:0.4s;">
            <i class="fa-solid fa-users"></i>
            <h4>Benutzerverwaltung</h4>
            <p>Verschiedene Rollen wie Besitzer, Administrator, Benutzer und Gast sind möglich.</p>
        </div>
    </div>

    <!-- INFOS-Bereich -->
    <div class="infos">
        <div class="infoseins slide-up">
            <img src="{{url_for('static', filename='dashboard.png')}}" alt="Laptop mit Smart Lock Dashboard">
            <div class="infoseinsÜber">
                <h3 class="infoseinsüberschrift">Technische Spezifikationen:</h3>
                <div class="infoseinsÜberZwei">
                    <div>
                        <p>🔵 WLAN-Verbindung (2.4GHz)</p>
                        <p>🔵 Echtzeit-Kommunikation</p>
                        <p>🔵 Geräteautorisierung bei Erstzugriff</p>
                    </div>
                    <div>
                        <p>🔵 AES-256 Verschlüsselung</p>
                        <p>🔵 Web-Dashboard</p>
                        <p>🔵 Rechte- und Rollensystem</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="infoszwei">
            <div class="sicherheit slide-up">
                <h3>Sicherheit auf höchstem Niveau</h3>
                <p>Jede Verbindung wird verschlüsselt übertragen. Bestätigung durch mehrere Authentifizierungsmethoden. Zugriffe jederzeit im Protokoll einsehbar.</p>
            </div>

            <div class="paket slide-up">
                <div>
                    <h4>Im Paket enthalten:</h4>
                    <p><i class="fa-solid fa-house-lock"></i> Elektronisches Smart Lock Modul</p>
                    <p><i class="fa-solid fa-hammer"></i> Montagematerial</p>
                    <p><i class="fa-solid fa-scroll"></i> Schnellstartanleitung</p>
                    <p><i class="fa-solid fa-battery-full"></i> Akku</p>
                    <p><i class="fa-solid fa-clock"></i> Zugang zur Webplatform</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
  &copy; 2026 SmartLock – Alle Rechte vorbehalten
</footer>


<script>
document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if(entry.isIntersecting){
                entry.target.classList.add('visible'); // Element sichtbar → slide-up
            } else {
                entry.target.classList.remove('visible'); // wieder unsichtbar → Animation zurücksetzen
            }
        });
    }, { threshold: 0.2 });

    document.querySelectorAll('.slide-up').forEach(el => observer.observe(el));
});
</script>

{% endblock %}
