<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <nav>
        <ol >
            <div class="left-über">
                <li><a href="/"><i class="fa-solid fa-lock"></i></a></li>
                <li><a href="/">Smart Lock</a></li>
            </div>
        </ol>
        <ol>
            {% if user.role == "Guest" %}
            <li><a href="/account/{{user.account}}">Dashboard</a></li>
            {% elif user.role in ["Owner", "Admin"] %}
            <li><a href="/account/{{user.account}}">Dashboard</a></li>
            <li><a  href="/account/access_codes/{{user.account}}">Zugangscodes</a></li>
            <li><a class="activ" href="/account/users/{{user.account}}">Benutzerwerwaltung</a></li>
            <li><a href="/account/logs/{{user.account}}">Protokoll</a></li>
            {% else %}
            <li><a href="/account/{{user.account}}">Dashboard</a></li>
            <li><a href="/account/access_codes/{{user.account}}">Zugangscodes</a></li>
            {% endif %}
        </ol>
        <ol>
            <p>Hallo, {{ user.firstname }}</p>
            <p>|</p>
            <a href="/logout">Abmelden</a>
        </ol>
    </nav>
    </header>



    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    <span class="flash">{{ message }}</span>
                    <button class="close-btn" onclick="this.parentElement.remove()">✖</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
    <section>
        <div class="base-account">
            <div class="left-account">
                <div>
                    <button onclick="window.location.href='{{ url_for('views.home') }}'" class="active"><i class="fa-solid fa-grip-vertical"></i> Home</button>
                    <button class="appleOpenModal id="openModal" ><i class="fa-regular fa-user"></i>Benutzer löschen</button>
                    </a>
                </div>                
            </div>
            
            <div style="width: 100%;" class="setting">
                <div class="set-setting-card">
                    <div class="settings-card">
                    <div>
                        <h1 class="h1">Benutzer Managment</h1>
                        <p>Erstellen, Löschen und Ändern von Benutzern</p>
                    </div>

                    <form class="forn-user"  method="POST">
                        <input type="hidden" name="form_name" value="create_user">
                        <div class="apple-input user-create">
                                <input type="text" name="password" placeholder="Enter Password">
                                <button type="submit" name="form_name" value="modal_form" class="apple-save">Create User</button>
                            </div>
                    </form>
                    <div class="table-wrapper">
                    <table class="access-table">
                        <thead>
                            <tr>
                                <th class="th">Benutzername</th>
                                <th class="th">Email</th>
                                <th class="th">Letzte Aktivität</th>
                                <th class="th">Rolle</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in access_useres %}
                            {% if not  q.firstname == user.firstname%}
                            <tr>
                                <td class="td">{{ q.username }}</td>
                                {% if q.email %}
                                    <td class="td">{{ q.email }}</td>
                                {% else %}
                                    <td class="td">Nicht eingerichtet</td>
                                {% endif %}
                                {% set user_logs = logs|selectattr('user_id', 'equalto', q.id)|list %}
                                {% if user_logs %}
                                    {% set last_log = user_logs[-1] %}
                                    <td class="td">{{ last_log.date }}</td>
                                {% else %}
                                    <td class="td">-</td>
                                {% endif %}
                                <td class="td">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle">
                                          {{q.role}} ▾
                                        </button>
                                      
                                        <div class="dropdown-menu" role="menu">
                                          <button type="button" role="menuitem" data-username="{{ q.username }}" data-action="Admin">Admin</button>
                                          <button type="button" role="menuitem" data-username="{{ q.username }}" data-action="User">User</button>
                                          <button type="button" role="menuitem" data-username="{{ q.username }}" data-action="Guest">Guest</button>
                                        </div>
                                      </div>
                                      
                                </td>
                                
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
        
                </div>
    
            </div>

<!-- BACKGROUND -->
<div class="apple-modal-bg" id="appleModalBg">

  <div class="apple-modal">

    <div class="apple-modal-header">
      <h2>Benutzerwerwaltung</h2>
      <span class="apple-close" id="appleClose">✕</span>
    </div>

    <form method="POST" class="apple-form">
        <input type="hidden" name="form_name" value="delete_user">
      <input type="hidden" name="action" value="delete">

      <div class="apple-input">
        <label>Benutzer löschen</label>
        <select name="delete_code" required>
          <option disabled selected>Benutzer wählen</option>
          {% for q in access_useres %}
      
            {% if q.firstname == user.firstname %}
                
                <option value="{{ q.id }}" disabled style="color: gray;">
                {{ q.username }} (du selbst)
                </option>
            {% else %}
                <option value="{{ q.id }}">
                {{ q.username }}
                </option>
            {% endif %}
            
            {% endfor %}
        </select>
      </div>

      <button type="submit" class="apple-delete">Löschen</button>
    </form>

  </div>
</div>

<script>
const modal = document.getElementById("appleModalBg");
const close = document.getElementById("appleClose");

// öffnen
document.querySelectorAll(".appleOpenModal").forEach(btn=>{
  btn.addEventListener("click", ()=>{
    modal.style.display = "flex";
  });
});

// schließen X
close.addEventListener("click", ()=>{
  modal.style.display = "none";
});

// außerhalb klicken
modal.addEventListener("click", e=>{
  if(e.target === modal){
    modal.style.display = "none";
  }
});
</script>



            <script>
            document.querySelectorAll('.dropdown').forEach(dropdown => {
              const toggle = dropdown.querySelector('.dropdown-toggle');
              const menu = dropdown.querySelector('.dropdown-menu');
            
              toggle.addEventListener('click', () => {
                menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
              });
            
              document.addEventListener('click', e => {
                if (!dropdown.contains(e.target)) {
                  menu.style.display = 'none';
                }
              });
            
            
              menu.querySelectorAll('button').forEach(btn => {
                btn.addEventListener('click', async () => {
                  const username = btn.getAttribute('data-username'); 
                  const action = btn.getAttribute('data-action');     
            
                  const data = {
                    username: username,
                    action: action
                  };
            
                  try {
                    const response = await fetch('/set_role', {
                      method: 'POST',
                      headers: { 'Content-Type': 'application/json' },
                      body: JSON.stringify(data)
                    });
            
                    if (!response.ok) throw new Error('Fehler beim Senden');
                    const result = await response.json();
                    console.log('Antwort:', result);
                    toggle.textContent = action + " ▾";
                  } catch (err) {
                    console.error(err);
                    alert('Fehler beim Senden');
                  }
            
                  menu.style.display = 'none'; 
                });
              });
            });
            </script>

</div>
</div>
</section>




    
</body>
</html>